@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");

@font-face {
    font-family: "pixel";
    src: url("../fonts/pixel.ttf");
}

body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: "pixel";

    background-color:black;
    color: white;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#centertext {
    text-align: center;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.glassbutton {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex; justify-content: center; 
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: rgba(0,85,255,255);
}


.wrapper-aboutus {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.aboutus-item {
    display: flex;
    align-items: center;
    margin: 10px;
}

.aboutus-pfp {
    border-radius: 999px;
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.text-content {
    display: flex;
    flex-direction: column;
    max-width: 239.516px;
    max-height: 92px;
    margin-top: 30px;
}

.title {
    font-size: 6vh;
    line-height: 10px;
    font-weight: bold;
    margin: 0;
}


.description {
    color: #888;
    margin-top: 30px;
}

.glow-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    display: inline-block;
    position: relative;
}

.glow-container img {
    display: block;
    border-radius: 10px;
}

.glow-container::before,
.glow-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: 0 0 20px rgba(0,85,255,255);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

.glow-container:hover::before,
.glow-container:hover::after {
    opacity: 1;
}

.name_title {
    font-size: 5vh;
    line-height: 10px;
    font-weight: bold;
    margin: 0;
}

.button {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
}
.discordbtn {
    background-color: #975DFD;
    color: black;
    border: 2px solid #5C00FD;
    position: relative;
    bottom: 0;
}
.discordbtn:hover {
    background-color: #5C00FD;
    color: white;
}
.discorddiv {
    position: fixed;
    right:  20px;
    bottom: 20px;
}